{
   "presets": [
      "next/babel"
   ],
   "plugins": [
      [
         "module-resolver",
         {
            "alias": {
               "svg-icons": "./assets/svg-icons"
            }
         }
      ],
      "inline-react-svg"
   ]
}
