$c_white : #ffffff;
$c_blue: #2351FF;
$c_dark: #00163E;
$c_red: #FF1240;
$c_green: #3ED18B;

$c_black_0f    : #0F1829;

$c_gray: #818181;
$c_gray_fb: #FBFBFB;
$c_gray_e5: #E5E5E5;
$c_gray_d3: #D3D3D3;
$c_gray_59: #595D6C;

/*TEXT ALL*/
$c_txt_light    : #D0D2D7;
$c_txt_dark    : #1E2F48;

$c_caret   : #99B9E0;

$c_button: #FEC400;
$c_primary: #0D3152;
$c_primary-light: #0B3F6E;

$c_secondary: #FEC400;
$c_secondary-light: #FEC40080;

$c_accent: #269C9D;

$c_highlight: #D22626;
$c_text-dark: #424F5A;

$c_gray-10: #F6F7F8;
$c_gray-20: #EEEFF1;

$c_black_transparent: rgba(5,5,5,0.7)
