.header
    text-align: center
    background: red
    padding-top: 15px

    &__title
        margin: 0
        margin-bottom: 20px
        color: $c_white

    &__footer
        display: flex
        align-items: center
        flex-direction: column
        background: $c_white
        padding: 20px

        @include breakpoint(550px)
            flex-direction: row

    &__subtitle
        margin-top: 10px
        margin-bottom: 10px

        @include breakpoint(550px)
            width: calc(100% - 34px - 150px)
            text-align: start
            padding-left: 20px

    &__logo
        width: 150px
        img
            width: 100%

    &__contentIconButton
        position: relative

        &__counter
            position: absolute
            top: 0
            right: 0
            background: red
            border-radius: 50px
            width: 18px
            height: 18px

            span
                color: $c_white
                font-size: 12px