.header
    text-align: center
    background: red
    padding-top: 15px

    &__title
        margin: 0
        margin-bottom: 20px
        color: $c_white

    &__footer
        display: flex
        align-items: center
        flex-direction: column
        background: $c_white
        padding: 20px

    &__subtitle
        margin-top: 10px
        margin-bottom: 10px

    &__logo
        width: 150px
        img
            width: 100%